* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fira sans", sans serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  padding: 2rem 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.header h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.main {
  /* flex: 1 1 0%; */
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.table {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.input-axpense {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#name {
  flex: 1 1 0%;
}
